@charset "UTF-8";

/*
* @authors kay chen (you@example.org)
* @date    2015-04-14 12:51:59
*/

/*common style*/

.wrap{width:1024px;margin:0 auto;}
a:link{color:#37a;text-decoration:none;}
a:visited{color:#669;text-decoration:none;}

/*module*/
.global-nav{height:33px;color:#d5d5d5;background-color:#545652;min-width:950px;font-size:12px;line-height:1.62;font-family:"Comic Sans MS"}
.navBar{width:1024px;margin:0 auto;}
.global-nav .top-nav-info{float:right;margin:0 12px 0 0;line-height:33px;}
.global-nav .top-nav-info a{display:inline-block;zoom:1;margin:0;padding:0 12px;height:33px;}
.global-nav a:link,.global-nav a:visited,.global-nav a:active{color:#d5d5d5;}
.global-nav a:hover{color:#FFF;}
.global-nav .top-nav-info{float:right;margin:0 12px 0 0;line-height:33px;}
.global-nav .global-nav-items{font-size:0;}
.global-nav .icon{background:#545652 url("../img/icon/search.png") no-repeat left 3px;padding-left:24px;}
.global-nav .global-nav-items li .first-item{padding:0 5px;color:#FFF;font-weight:lighter;font:100 16px "微软雅黑 Light";line-height:33px;vertical-align:top;}
.global-nav .global-nav-items li .first-item:hover{background:#EF1959;color:#FFF;}
.global-nav .global-nav-items li{display:inline-block;zoom:1;line-height:33px;vertical-align:top;font:12px "微软雅黑";}
.global-nav .global-nav-items a{display:inline-block;zoom:1;padding:0 12px;height:33px;line-height:33px;}
.nav{width:100%;min-width:1024px;overflow:hidden;zoom:1;margin-bottom:40px;box-shadow:rgba(0,0,0,.075) 0 0 32px;background-color:#f0f3f5;}
#db-nav-movie .nav-wrap{border-color:#e3ebec;}
.nav .nav-wrap{border-bottom:1px solid #e5ebe4;}
.nav .nav-primary{position:relative;padding:10px 0 5px;overflow:hidden;zoom:1;}
.nav .nav-primary,.nav .nav-secondary{width:1024px;margin:0 auto;padding-bottom:0;overflow:hidden;zoom:1;}
.nav .nav-primary{position:relative;padding:10px 0 5px;overflow:hidden;zoom:1}
.nav .nav-logo{float:left;height:60px;width:60px;margin:0 12px;border-radius:60px;opacity:0.8;background:url(../img/index/logo.jpg) no-repeat 0 0;}
.nav .nav-logo:hover{box-shadow:rgba(0,0,0,.075) 0 0 32px;opacity:1.0;}
.nav .nav-logo a{display:block;text-indent:999px;overflow:hidden;line-height:60px;border-radius:60px;}
.nav .nav-logo a:hover,.nav .nav-logo a:active{background:none!important}
.ua-iphone .nav{-webkit-text-size-adjust:none}
.nav .chen-description{font-size:14px;line-height:60px;font-family:Candara,Verdadana,Helvetica,Arial,华文细黑,微软雅黑,黑体,sans-serif;font-weight:normal;color:#EF1959;}
.nav-secondary{width:100%;zoom:1}
.nav-secondary:after{content:'\0020';display:block;clear:both}
.nav-secondary img{vertical-align:middle;margin-right:4px}
.nav-secondary ul{margin:9px 0}
.nav-secondary li{display:inline;margin-right:30px}
.nav-secondary .nav-items{float:none;*padding-bottom:8px;zoom:1;font-size:13px}
.nav-secondary .nav-items li{_float:left;_display:inline}
.container{width:1024px;padding:10px 0;margin:0 auto;text-align:center;}
.container h3{height:40px;text-align:center;color:#EF1959;margin-bottom:10px;font-weight:normal;font:16px/40px "Microsoft YaHei";}
#footer{width:100%;margin:50px auto;text-align:center;color:#999;font-size:14px;padding-top:20px;}
#footer a{padding:5px;text-decoration:none;color:#999;font-size:14px;}
#footer .light{color:#F92672;}
#footer a:hover{color:#EF1959;text-decoration:underline;}
#footer .introduce{margin-top:20px;}
#footer .share{margin-top:5px;}
#music{width:1024px;margin:0 auto 20px;}
#music audio{text-align:center;margin:0 auto;display:block;color:#F00;}